.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  fill: var(--inverted-primary-color);
  width: var(--font-line-m);
}

.link {
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  transition: opacity ease-in-out 0.3s;
}

.collapsed {
  .link {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
