.app.dark {
  --bg-color: #1f2937;
  --inverted-bg-color: #fefce8;

  --primary-color: #10b981;
  --inverted-primary-color: #a855f7;

  --secondary-color: #6ee7b7;
  --inverted-secondary-color: #d8b4fe;
}
